.body{
  width:1600px;
  background-color:white;
}

.top{
  margin-top:200px;
  text-align:center;
  font-family: mincho;
}

.top h{
 font-family:'Futura';
 font-weight:bold;
 font-size:100px;
}

.top p{
 font-size:30px;
 padding-top:100px;
 padding-bottom:100px;
}


.space{
  width:90%;
  height:300px;
  margin:0 auto;
  margin-top:50px;
  text-align:center;
  font-size:65px;
  font-family: mincho;
  color:black;
  line-height: 1.5em;
}

.space a{
  font-size:10px;
}

.image:hover{
  opacity:0.3;
  }
.image p{
  position:absolute;
}
.img1{z-index:30;}
.img2{z-index:29;}
.img3{z-index:28;}
.img4{z-index:27;}
.img5{z-index:26;}
.img6{z-index:25;}
.img7{z-index:24;}
.img8{z-index:23;}
.img9{z-index:22;}
.img10{z-index:21;}
.img11{z-index:20;}
.img12{z-index:19;}
.img13{z-index:18;}
.img14{z-index:17;}
.img15{z-index:16;}
.img16{z-index:15;}
.img17{z-index:14;}
.img18{z-index:13;}
.img19{z-index:12;}
.img20{z-index:11;}
.img21{z-index:10;}
.img22{z-index:9;}
.img23{z-index:8;}
.img24{z-index:7;}
.img25{z-index:6;}
.img26{z-index:5;}
.img27{z-index:4;}
.img28{z-index:3;}
.img29{z-index:2;}
.img30{z-index:1;}

.btn input{
  position:absolute;
  width:100px;
}
.save1{z-index:20;}
.save2{z-index:19;}
.save3{z-index:18;}
.save4{z-index:17;}
.save5{z-index:16;}
.save6{z-index:15;}
.save7{z-index:14;}
.save8{z-index:13;}
.save9{z-index:12;}
.save10{z-index:11;}
.save11{z-index:10;}
.save12{z-index:9;}


.form_text{
  padding-left:20%;
  padding-right:20%;
}
    
textarea{
    width:100%;
    height:100px;
}

.btn{
 padding-left:20%;
 padding-right:20%;
}

ul {
  border: 1px solid #000000;
  display: table;
  /* 定義 */
  table-layout: fixed;
  width: 80%;
  font-size: 20px;
  margin: 50px auto;
  text-align: center;
}
li {
  list-style-type: none;
  display: table-cell;
  cursor: pointer;
  color: #gray;
  padding: 30px;
  border: 1px solid #000;
}
li:hover {
  background:gray;
  color: white;
}
.memo,
#list {
    width: 80%;
    margin: 0 auto;
}

#list li {
    display: flex;
    padding: 0;
}

#list li:hover {
    background: none;
}

#list li span {
    display: block;
    color: #000;
    padding: 20px;
}

#list li span:first-child {
    color: #000;
    border-right: 1px solid #000;
    width:25%;
}  

.img29 span{
  font-size:30px;
}

.footer{
  margin-top:150px;
  padding:30px 0px;
  color:white;
  text-align: center;
  font-size: 16px;
  background-color: #707070;
}